[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.7.1"
spacy = "==3.0.5"
transformers = "==4.5.0"
tqdm = "*"
wandb = "*"

[dev-packages]
wandb = "*"

[requires]
python_version = "3.8"
